<nav class="navbar navbar-default">
  <div class="col-md-12 bg-primary">
      <div class="col-md-10 col-md-offset-2">
          <a [routerLink]="['']" class="pull-right loginModal" data-toggle="modal" data-target="#loginModal">
            <div class="btn-group m-t-sm">
              <a class="btn btn-primary" href="#"><i class="icon-user"></i> User</a>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                  <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                  <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
              </ul>
            </div>
          </a>
          <h3>Welcome to Eve</h3>
      </div>
  </div>
  <div class="container">
      <div class="col-md-12">
          <div class="col-md-4">
              <ul class="nav nav-tabs">
                  <li role="presentation" class="active"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                  <li role="presentation"><a href="#/list">List</a></li>
                  <li role="presentation"><a href="#/page">Page</a></li>
              </ul>
          </div>
      </div>
  </div>
</nav>
<!-- 注册登的摸态框 -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal text-center">  
          <div class="form-group">  
            <label class="control-label" for="inputId">账号：</label>  
            <input type="text" id="inputId" placeholder="请输入账号">  
          </div>  
          <div class="form-group">  
            <label class="control-label" for="inputPassword">密码：</label>  
            <input type="password" id="inputPassword" placeholder="请输入密码">  
          </div> 
          <div class="form-group">
            <button type="button" class="btn btn-xs btn-default col-sm-2 col-sm-offset-4" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-xs btn-primary col-sm-2">Save changes</button>   
          </div> 
        </form>  
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>